body {
  width: 1280px;
  height: 800px;
}

/* ヘッダ */
header {
  width: 1280px;
  height: 70px;
  background: #136FFF;
  padding: 20px 50px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

header h1 {
  margin-left: 50px;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  font-family: 'MS Pゴシック'
}

header label#user-label {
  padding-top: 20px;
  padding-left: 15px;
  color: #FFFFFF;
  font-size: 18px;
}

header .h-nav {
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
}

header .head-button {
	display: block;
	text-align: center;
	/* vertical-align: middle; */
	text-decoration: none;
	width: 120px;
	height: 30px;
	font-weight: bold;
	border: 2px solid #fff;
	color: #fff;
	background: #136FFF;
}
header .head-button:hover {
	color: #fff;
	background: #27acd9;
}

/* ページメイン */
div#content {
  margin-top: 100px;
}

div#lock-content {
    padding-right: 20px;
    text-align: right;
}

div#lock-content #lock-button {
  font-size: 18px;
  width: 200px;
  height: 40px;
  color: #fff;
  background-color: #888888;
  border-radius: 50vh;
  font-family: 'MS Pゴシック';
  cursor: pointer;
}

div#lock-content #lock-button:hover {
  color: #000;
  background: #7FFFD4;
}


div#menu-form {
  margin-top:  50px;
  margin-right:  30px;
  text-align: right;
  overflow-y: auto;
  height: 90px;

  
}


div#menu-form table.input-table {
  text-align: right;
  margin-left: 460px;
  border-collapse: collapse;
  border-spacing: 0;
}


div#menu-form table.input-table2 {
  text-align: left;
  margin-left: 15px;
  float: left;
  border-collapse: collapse;
  border-spacing: 0;
}


div#menu-form table.input-table > tbody > tr {
  height: 10px;
}

div#menu-form table.input-table > tbody > tr > th {
  padding: 2px;
  background: #e9faf9;
  border: solid 1.5px #778ca3;
  width: 150px;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
}
div#menu-form table.input-table > tbody > tr > td {
  padding: 2px;
  border: solid 1.5px #778ca3;
  width: 300px;
  font-size: 16px;
}


div#menu-form table.input-table2 > tbody > tr {
  height: 50px;
}

div#menu-form table.input-table2 > tbody > tr > th {
  padding: 2px;
  
  
  border: solid 1.5px #778ca3;
  width: 100px;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}
div#menu-form table.input-table2 > tbody > tr > td {
  padding: 2px;
  
  background: #ffcc00;
  
  border: solid 1.5px #778ca3;
  width: 150px;
  text-align: center;
  font-size: 18px;
}







div#input-form {
  margin-top:  20px;
  overflow-y: auto;
  height: 600px;
}

div#input-form table.input-table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}



div#input-form table.input-table > tbody > tr {
  height: 40px;
}

div#input-form table.input-table > tbody > tr > th {
  padding: 5px;
  background: #e9faf9;
  border: solid 1.5px #778ca3;
  width: 300px;
  text-align: left;
  font-weight: normal;
  font-size: 18px;
}
div#input-form table.input-table > tbody > tr > td {
  padding: 5px;
  border: solid 1.5px #778ca3;
  width: 900px;
  font-size: 18px;
}

div#register-content {
  text-align: center;
  margin-top: 20px;
}



.link-table1 {
	display: block;
	text-align: right;
}



div#register-content #register-button {
  font-size: 18px;
  width: 300px;
  height: 40px;
  color: #fff;
  background-color: #1e90ff;
  border-radius: 50vh;
  font-family: 'MS Pゴシック';
  cursor: pointer;
  margin-left: 50px;
}

div#register-content #register-button:hover {
  color: #000;
  background: #7FFFD4;
}

div#register-content #register2-button {
  font-size: 18px;
  width: 300px;
  height: 40px;
  color: #fff;
  background-color: #888888;
  border-radius: 50vh;
  font-family: 'MS Pゴシック';
  cursor: pointer;
  margin-left: 100px;
}

div#register-content #register2-button:hover {
  color: #000;
  background: #7FFFD4;
}


div#register-content #register3-button {
  font-size: 18px;
  width: 200px;
  height: 40px;
  color: #fff;
  background-color: #888888;
  border-radius: 50vh;
  font-family: 'MS Pゴシック';
  cursor: pointer;
  margin-left: 50px;
}

div#register-content #register3-button:hover {
  color: #000;
  background: #7FFFD4;
}



div#register-content #cancel-button {
  margin: 20px;
  font-size: 18px;
  width: 200px;
  height: 40px;
  color: #fff;
  background-color: #d3d3d3;
  border-radius: 50vh;
  font-family: 'MS Pゴシック';
  cursor: pointer;
  margin-left: 100px;
}

div#register-content #cancel-button:hover {
  color: #000;
  background: #7FFFD4;
}



div#input-form #main {
  margin-left: 20px;
  font-size: 18px;
  text-align: center;
  margin-right: 5px;
  transform: scale(1.5);
}


div#input-form #radio-1 {
  margin-left: 20px;
  font-size: 18px;
  text-align: center;
  margin-right: 5px;
  transform: scale(1.3);
}

div#input-form #radio-2 {
  margin-left: 20px;
  font-size: 18px;
  text-align: center;
  margin-right: 5px;
  transform: scale(1.3);
}

div#input-form #radio-2 {
  margin-left: 20px;
  font-size: 18px;
  text-align: center;
  margin-right: 5px;
  transform: scale(1.3);
}



div#input-form table.input-table input[type="text"] {
  height: 30px;
  width: 150px;
  font-size: 18px;
}




div#input-form table.input-table input[type="time"] {
  height: 30px;
  width: 110px;
  font-size: 18px;
}

table input[type="date"] {
  height: 30px !important;
  width: 200px;
  font-size: 18px !important;
}


.drop1 {
  height: 33px;
  /* width: 290px; */
  width: 310px; 
  font-size: 18px;
}

.drop2 {
  height: 33px;
  width: 130px;
  font-size: 18px;
}


.drop3 {
  height: 33px;
  width: 290px;
  font-size: 17px;
  margin-top: 1px;
}

.drop4 {
  height: 33px;
  width: 200px;
  font-size: 18px;
}

.drop5 {
  height: 33px;
  width: 450px;
  font-size: 18px;
}


.drop6 {
  height: 33px;
  width: 550px;
  font-size: 16px;
}

.drop7 {
  height: 33px;
  width: 250px;
  font-size: 18px;
}





.inner-table1 td {
  width: 300px;
  font-size: 17px;
}

.inner-table2 td {
  width: 350px;
  font-size: 17px;
}

.inner-table3 td {
  width: 50%;
  font-size: 12px;
}

.inner-table4 td {
  width: 100%;
  font-size: 17px;
}

.inner-table5 td {
  width: 35%;
  font-size: 18px;
}


input[type="text"].input3 {
  height: 25px !important;
  font-size: 17px !important;
}

input[type="text"].input2 {
  height: 25px !important;
  width: 100px !important;
  font-size: 17px !important;
}

input[type="text"].long {
  height: 30px !important;
  width: 700px !important;
  font-size: 17px !important;
}


input[type="text"].long2 {
  height: 25px !important;
  width: 250px !important;
  font-size: 17px !important;
}

input[type="text"].long3 {
  height: 25px !important;
  width: 200px !important;
  margin-left: 5px;
  font-size: 17px !important;
}

input[type="text"].long4 {
  height: 25px !important;
  width: 500px !important;
  margin-left: 5px;
  font-size: 17px !important;
}


input[type="text"].long5 {
  height: 25px !important;
  width: 736px !important;
  /* margin-left: 5px; */
  /* margin-top: 5px; */
  margin-bottom: 10px;
  /* margin-right: 5px; */
  font-size: 17px !important;
}


input[type="text"].long6 {
  height: 25px !important;
  width: 400px !important;
  margin-left: 5px;
  font-size: 17px !important;
}

input[type="text"].long7 {
  height: 25px !important;
  width: 820px !important;
  margin-left: 5px;
  font-size: 16px !important;
}


.inner-info {
  font-size: 17px;
}

.extra {
  font-size: 17px !important;
  height: 25px !important;
  width: 150px !important;
  margin-left: 5px;
  margin-right: 15px;
  float: right;
  
}

.extra2 {
  font-size: 17px !important;
  height: 25px !important;
  width: 300px !important;
  margin-left: 5px;
  margin-right: 15px;
  
}

textarea {
  resize: auto;
  max-width: 890px;
  min-width: 820px;
  width:820px;
  height:180px;
  font-size: 18px;
}

input:focus{
background: #ffffe0;
}

textarea:focus{
background: #ffffe0;
border:#000099 1px solid;
}


select:focus{
background: #ffffe0;
border:#000099 1px solid;
}



div#err-msg-box {
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
  color: red;
}




details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.7em 0.7em 0;
  
}

summary {
  font-weight: bold;
  font-size: 20px;
  margin: -0.5em -0.5em 0;
  padding: 0.7em;
  background: #ffffe0;
  height: 40px
}

details[open] {
  padding: 0.7em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

/*　脇山：下記の6項目を追加　*/

/*　必須マーク用の書式　*/
.required::after {
  content: "必須";
  color: #ffffff;
  background: #cc0000;
  font-size: 0.5em;
  padding: 0.3em;
  border-radius: 0.5em;
  margin-left:0.3em;
  }

/*　PDFアップロード用の書式　*/
  .hidden-file-input {
    display: none;
}

input:invalid {
	background-color: red;
}

#drop_zone {
  width: 800px;
  height: 120px;
  border: 2px dashed #ccc;
  background-color: #f0ffff;
  margin: 1px auto;
  padding-top: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 1.2em;
}

.text-label2 {

  font-size: 16px;
}


.file_name_zone {
  width: 600px;
  border: 1px #0f1419;
}

.temp_file_box {
  width: 700px;
  color: #c0c0c0;
  padding: 5px;
  display: inline-block;
  
  border: 1px solid #aaa;
  border-radius: 4px;
  /* 罫線に合わせてサイズを調整するため */
}



