<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>相談情報管理システム ユーザ新規登録</title>
<script src="js\jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="css\useredit.css">
<style>
.error-message {
	color: red;
	display: none;
	line-height: 1; /* 行間をフォントサイズと同じに */
	padding: 0; /* パディングをゼロに */
	margin: 2px 0;
}

.dialog {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
}

.dialog-content {
	background-color: #000;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	color: #fff;
}

.dialog-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.dialog-buttons button {
	background-color: #1abc9c;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.dialog-buttons button:hover {
	background-color: #16a085;
}
</style>
<script th:inline="javascript">


function showConfirmationDialog() {
        document.getElementById("dialog").style.display = "flex";
}

function confirmAction() {
    document.getElementById("userNewRegistrationForm").submit();
}

function cancelAction() {
    document.getElementById("dialog").style.display = "none";
}

function showResultDialog(message) {
    document.getElementById("dialog2").style.display = "flex";
    document.getElementById("dialog2-content").textContent = message;
}

function closeResultDialog() {
    document.getElementById("dialog2").style.display = "none";
    if (document.getElementById("dialog2-content").textContent === "登録に成功しました。") {
        location.href = 'http://localhost:8080/011_01UserInformationMenu';
    }
}

window.onload = function() {
    const success = /*[[${success}]]*/ false;
    const errorMessage1 = /*[[${errorMessage1}]]*/ null;
    const errorMessage2 = /*[[${errorMessage2}]]*/ null;
    const errorMessage3 = /*[[${errorMessage3}]]*/ null;
    const errorMessage4 = /*[[${errorMessage4}]]*/ null;
    const errorMessage5 = /*[[${errorMessage5}]]*/ null;
    if (success === true) {
        showResultDialog("登録に成功しました。");
    } else if (errorMessage1 || errorMessage2 || errorMessage3 || errorMessage4 || errorMessage5) {
        showResultDialog("登録に失敗しました");
        document.getElementById("errorMessage1").textContent = errorMessage1;
        document.getElementById("errorMessage2").textContent = errorMessage2;
        document.getElementById("errorMessage3").textContent = errorMessage3;
        document.getElementById("errorMessage4").textContent = errorMessage4;
        document.getElementById("errorMessage5").textContent = errorMessage5;
        document.getElementById("errorMessage1").style.display = "block";
        document.getElementById("errorMessage2").style.display = "block";
        document.getElementById("errorMessage3").style.display = "block";
        document.getElementById("errorMessage4").style.display = "block";
        document.getElementById("errorMessage5").style.display = "block";
    }
};
    </script>
</head>
<body>
	<header>
		<h1>相談情報管理システム ユーザ新規登録</h1>
		<nav class="h-nav">
			<label id="user-label">テスト 太朗</label>
			<ul class="h-menu">
				<input type="button" class="head-button"
					onclick="location.href='001ログイン.html'" value="ログアウト">
			</ul>
		</nav>
	</header>
	<div id="content">
		<!--<div id="lock-content">
        <input type="button" id="lock-button" onclick="alert('対象ユーザをインアクティブ化')" value="無効化">
      </div>-->
		<div id="input-form">
			<form id="userNewRegistrationForm" method="post"
				action="/registerUser">
				<table>
					<tr>
						<th>ユーザID：</th>
						<td><input type="text" name="user_id" class="generic-text"
							th:value="${userData != null ? userData[0].user_id : ''}"></td>
					</tr>
					<tr>
						<th>ユーザ名：</th>
						<td>姓<input type="text" class="input2" name="user_name"
							th:value="${userData != null ? userData[0].user_name : ''}">
							名<input type="text" class="input2" name="user_name_last"
							th:value="${userData != null ? userData[0].user_name_last : ''}"></td>
					</tr>
					<tr>
						<th>パスワード：</th>
						<td><input type="password" name="password1"
							th:value="${paassword1}"></td>
					</tr>
					<tr>
						<th>パスワード確認入力：</th>
						<td><input type="password" name="password2"
							th:value="${password2}"></td>
					</tr>
					<tr>
						<th>アクセス権限：</th>
						<td><select name="authority_kbn" id="authority-select">
								<option value="1"
									th:selected="${userData != null and userData[0].authority_kbn == '1'}">システム管理者</option>
								<option value="2"
									th:selected="${userData != null and userData[0].authority_kbn == '2'}">利用管理者</option>
								<option value="3"
									th:selected="${userData != null and userData[0].authority_kbn == '3'}">ユーザ(代理編集可)</option>
								<option value="4"
									th:selected="${userData != null and userData[0].authority_kbn == '4'}">一般ユーザ</option>
						</select></td>
					</tr>
					<tr>
						<th>状態：</th>
						<td><select name="status_kbn" id="group-select">
								<option value="0"
									th:selected="${userData != null and userData[0].status_kbn == '0'}">アクティブ</option>
								<option value="1"
									th:selected="${userData != null and userData[0].status_kbn == '1'}">インアクティブ</option>
								<option value="2"
									th:selected="${userData != null and userData[0].status_kbn == '2'}">ロック</option>
						</select></td>
					</tr>
				</table>
				<div id="testcheck-box">
					<label><input type="checkbox">パスワードを表示する</label>
				</div>
				<!--         <div th:if="${errorMessage != null}"> -->
				<!--         	<p th:text="${errorMessage}" style="color: red; "></p> -->
				<!--         </div> -->

				<div id="err-msg-box">
					<div id="errorMessage1" class="error-message"></div>
					<div id="errorMessage2" class="error-message"></div>
					<div id="errorMessage3" class="error-message"></div>
					<div id="errorMessage4" class="error-message"></div>
					<div id="errorMessage5" class="error-message"></div>
				</div>
				<div>
					<input type="button" id="password-button" value="新規登録"
						onclick="showConfirmationDialog()"> <input
						type="button" id="cancel-button"
						onclick="location.href='http://localhost:8080/011_01UserInformationMenu'"
						value="キャンセル">
				</div>
			</form>
			<div class="dialog" id="dialog">
				<div class="dialog-content">
					<p>新規登録を実行しますか？</p>
					<div class="dialog-buttons">
						<button onclick="confirmAction()">はい</button>
						<button onclick="cancelAction()">いいえ</button>
					</div>
				</div>
			</div>
			<div class="dialog" id="dialog2">
				<div class="dialog-content">
					<p id="dialog2-content"></p>
					<div class="dialog-buttons">
						<button onclick="closeResultDialog()">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
